*, *::before, *::after {

    padding: 0;
    
  }
  
  
  
  body {
    
      font-family: verdana;
      font-size: 1.5rem;
      color: white;
      background-color: #264653;
      
    }
    
    .container {
      max-width: 60%;
      margin: 0 auto;
      padding: 1rem; 
      text-align: center;
      
    }
  
    .wrapper {
  
      display: flex;
      flex-direction: column;
      justify-content: center;
  
    }
  
    select {
  
      font-family: verdana;
      font-size: 1.5rem;
      margin: .5rem;
  
    }
  
    input[type=text] {
  
      padding: .3rem;
      font-size: 1.5rem;
    }
  
  .btn {
  
    font-size: 1.5rem;
    font-family: verdana;
    margin: .5rem;
    padding: .3rem 1rem;
    border-radius: 100px;
    cursor: pointer;
    border: none;
  
  }
  
  .del {
  
    font-size: 1.3rem;
    font-family: verdana;
    margin: .5rem;
    padding: .3rem .75rem;
    border-radius: 100px;
    cursor: pointer;
    border: 2px solid red;
    color: black;
    transition: background-color 500ms ease-in-out, color 300ms ease-in-out;
  
  }
  
  .del:hover {
  
    border: 2px solid transparent;
    background-color: red;
    color: white;
  
  
  }
  
  input[type=checkbox] {
  
    background-color: black;
  
  }
  
    ul {
  
      text-align: left;
      list-style-type: none;
  
  
    }
  
    li:nth-child(2n + 2)  {
  
      background-color: #F4A261;
      padding: 1em;
    }
  
    li:nth-child(2n + 1)  {
  
      background-color: #E76F51;
      padding: 1em;
    }
  
    li {
  
      text-transform: capitalize;
  
    }
  
    .taskNum {
  
      color: yellow;
    }
  
    
    @media screen and (max-width: 700px) {
  
      .container {
        max-width: 95%;
        margin: 0 auto;
        padding: .5rem; 
        text-align: center;
      }
  
      h1 {
  
        font-size: 2.5rem;
  
      }
  
  
  
    }